@import './color_scheme';
@import './media_queries';

.buttons__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  /*
  @include mquery(900) {
    padding: 10px;
  }

  @include mquery(1000) {
    padding: 10px;
  }

  @include mquery(1100) {
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  } */

  &__open {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
}

.button {
  background-color: transparent;
  font-weight: bold;
  border: 5px solid;
  border-image-slice: 1;
  padding: 4px;
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;

  @include mquery(600) {
    font-size: 30px;
  }

  @include mquery(1000) {
    border: 7px solid;
    border-image-slice: 1;
    font-size: 30px;
  }
}

.button__left {
  @extend .button;

  margin-right: 20px;

  @include mquery(600) {
    margin-right: 30px;
  }

  @include mquery(900) {
    margin-right: 25px;
  }

  @include mquery(1000) {
    margin-right: 30px;
  }

  @include mquery(1330) {
    margin-right: 50px;
  }
}

.button__right {
  @extend .button;
}
