@import './color_scheme';

.buttons__container {
  background-color: $main-color;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button {
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  border: 7px solid;
  border-image-slice: 1;
}

.button__left {
  @extend .button;
  margin-right: 50px;
  border-image-source: linear-gradient(
    200.54deg,
    #000000 62.45%,
    $main-color 62.46%
  );
}

.button__right {
  @extend .button;

  border-image-source: linear-gradient(
    150.6deg,
    #000000 74.52%,
    $main-color 75.11%
  );
}
