@import './media_queries';
@import './color_scheme';

.container {
  width: 100%;
  height: fit-content;
}

.content__container {
  margin: auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 85%;
  flex: 0 0 50%;

  @include mqueryheight(500) {
    height: 90vh;
  }

  @include mqueryheight(900) {
    height: 65vh;
  }

  @include mquery(1000) {
    flex-direction: row;
    height: 45vh;
  }

  @include mquery(1200) {
    width: 70%;
  }

  @include mquery(1400) {
    width: 65%;
  }

  @include mquery(1600) {
    width: 50%;
  }

  &:hover {
    cursor: pointer;
  }

  &__open {
    @extend .container;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 1vh;
    height: 98vh;

    @include mquery(600) {
      top: 10vh;
      height: 80vh;
    }

    &:hover {
      cursor: default;
    }
  }
}

.image__container {
  width: 30%;
  margin-right: 30%;

  //box-shadow: 90px -24px 98px -18px rgba(0, 0, 0, 0.75);

  transform: scale(1, 1);

  margin-bottom: -10px;
  background-color: transparent;
  border-top-right-radius: 30px;

  @include mquery(500) {
    margin-right: 150px;
    width: 20%;
  }

  @include mquery(700) {
    width: 18%;
  }

  @include mquery(900) {
    width: 15%;
  }

  &__shadow {
    @extend .image__container;
    box-shadow: 71px 49px 76px 6px rgba(0, 0, 0, 0.45);
  }

  &__wide {
    width: 90%;

    @include mquery(600) {
      width: 70%;
    }

    @include mquery(750) {
      width: 60%;
    }

    @include mquery(800) {
      width: 50%;
    }

    @include mquery(1000) {
      width: 45%;
    }

    margin-right: 0;
  }

  &__leftAligned {
    margin-left: 20px;
    align-self: flex-start;

    @include mquery(1000) {
      margin-left: 50px;
      order: -1;
      align-self: auto;
    }
  }
}

.image {
  background-color: transparent;
}

.text__container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 40px;
  padding-bottom: 50px;

  &__alignedLeft {
    align-self: flex-start;
    padding-left: 40px;
  }

  &__alignedRight {
    align-self: flex-end;
    padding-left: 20px;

    @include mquery(450) {
      padding-left: 0;
      padding-right: 40px;
    }
  }

  &__open {
    align-self: flex-start;
    height: 100%;
    width: 100%;
    flex-basis: 100%;
    padding: 0;
    margin: 0;
  }
}

.text__title {
  color: white;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  @include mquery(400) {
    font-size: 45px;
  }

  &__open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;

    @include mquery(600) {
      font-size: 50px;
    }
  }
}

.text__technologies {
  color: white;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.svg__button {
  position: absolute;
  bottom: 20px;
  color: white;
  background-color: transparent;
  border: none;

  &__leftAligned {
    left: 20px;
  }

  &__rightAligned {
    right: 20px;
  }
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.description {
  color: white;
  font-family: 'Montserrat';
  width: 90%;
  margin: auto;
  font-size: 14px;
  line-height: 1.3em;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: justify;
  height: 65%;
  overflow: scroll;
  overflow-x: hidden;

  @include mquery(600) {
    font-size: 20px;
    line-height: 1.6em;
    height: 100%;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    border: 1px solid white;
  }
}

.openCard__imageContainer {
  //width: 60%;
  margin: auto;
  position: absolute;
  top: -10px;
  left: 10px;
  right: 10px;
  z-index: -1;
  height: 25vh;
  max-height: 25vh;
  overflow: hidden;
  //opacity: 0.8;
  display: none;

  @include mquery(600) {
    display: block;
  }
}

.openCard__image {
  width: 100%;
  filter: brightness(55%);
}

.close__buttonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  z-index: 2500;
}

.close__button {
  font-size: 24px;
}
