@import './media_queries';

.container {
  width: 100%;
  margin-top: 160px;
}

.content__container {
  margin: auto;
  height: 60vh;
  background-color: #c30017;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  overflow-y: hidden;
  position: relative;
  width: 85%;

  @include mqueryheight(600) {
    height: 80vh;
  }

  @include mqueryheight(900) {
    height: 65vh;
  }

  @include mquery(1000) {
    flex-direction: row;
    height: 45vh;
  }

  @include mquery(1200) {
    width: 70%;
  }

  @include mquery(1400) {
    width: 65%;
  }

  @include mquery(1600) {
    width: 50%;
  }
}

.image__container {
  width: 30%;
  margin-right: 30%;

  //box-shadow: 90px -24px 98px -18px rgba(0, 0, 0, 0.75);

  box-shadow: 71px 49px 76px 6px rgba(0, 0, 0, 0.45);
  transform: scale(1, 1);

  margin-bottom: -10px;
  background-color: transparent;
  border-top-right-radius: 30px;

  @include mquery(500) {
    margin-right: 150px;
    width: 20%;
  }

  @include mquery(700) {
    width: 18%;
  }

  @include mquery(900) {
    width: 15%;
  }
}

.image {
  background-color: transparent;
}

.text__container {
  align-self: flex-start;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.text__title {
  color: white;
  font-weight: bold;
  font-size: 45px;
}

.text__technologies {
  color: white;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.svg__button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: transparent;
  border: none;
}
