/*@import './color_scheme';

.container {
  height: 100vh;
  width: 100vw;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.figure {
  height: 738px;
  width: 800px;
  fill: $main-color-dark;
  position: absolute;
  top: 10vh;
  left: calc(50% - 350px); //
}

.title {
  z-index: 2;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: -180px;
  line-height: 1.2em;
  span {
    color: $secondary-color;
  }
}

.button {
  z-index: 2;
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    175.6deg,
    $secondary-color 74.52%,
    $main-color-dark 75.11%
  );
}

.button__linkedin {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 25px);

  &:hover {
    cursor: pointer;
  }
}
*/
