@import './color_scheme';

.hero__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__text_container {
  margin-top: 6%;
  margin-bottom: 6%;
  width: 100%;
  p {
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    span {
      color: $main-color;
    }
  }
}

.hero__scroll_indicator_container {
}
