@import './color_scheme';

.main__container {
  margin-top: 140px;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.smaller_container {
  height: 80vh;
  width: 65vw;
  background-color: $secondary-color;
  align-self: flex-start;
  margin-left: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.image__container_1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 550px);
}

.image__container_3 {
  position: absolute;
  bottom: 0;
  right: 300px;
}

.text__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: -100px;
  z-index: 2;
}

.technologies {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 1.1em;
}

.title {
  font-size: 52px;
  font-weight: bold;
}
