@import './color_scheme';
@import './media_queries';

.main__container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: fit-content;

  @include mquery(1000) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 200px;
  }

  @include mquery(1840) {
    padding-left: 100px;
  }
}

.image__container_1 {
  aspect-ratio: 16/9;
  border: 10px solid $secondary-color;
  background-color: $secondary-color;
  order: 2;
  width: 95%;
  margin: auto;

  @include mquery(1000) {
    order: 1;
    margin: 0;
    margin-left: 60px;
    border-left: 20px solid $secondary-color;
    border-top: 60px solid $secondary-color;
    border-bottom: 50px solid $secondary-color;
    border-right: 140px solid $secondary-color;
    width: 65%;
  }

  @include mquery(1200) {
    border-left: 20px solid $secondary-color;
    border-top: 80px solid $secondary-color;
    border-bottom: 50px solid $secondary-color;
    border-right: 140px solid $secondary-color;
    width: 70%;
  }

  @include mquery(1500) {
    width: 60%;
  }
}

.text__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: -100px;
  z-index: 2;
}

.technologies {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 1.1em;
}

.title {
  font-size: 52px;
  font-weight: bold;
}
