@import "./color_scheme";
@import "./media_queries";

.container {
  margin: auto;
  background-color: white;
  color: black;
  padding: 35px;
  margin-bottom: 100px;
  position: relative;

  width: 95%;

  @include mquery(1100) {
    width: 75%;
  }

  @include mquery(1600) {
    width: 55%;
  }
}

.title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.markdown__container {
  line-height: 1.6em;
  font-size: 18px;

  h2 {
    font-size: 24px;
    margin-bottom: 35px;
  }

  p {
    width: 100%;
    margin-bottom: 20px;
    img {
      display: block;
      margin: auto;
      width: 100%;

      @include mquery(600) {
        width: 80%;
      }

      @include mquery(800) {
        width: auto;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  pre {
    margin-bottom: 20px;
    width: 100%;
  }

  code {
    background-color: $main-color;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    overflow-x: auto;
    color: white;
  }
}

.createdAt {
  position: absolute;
  top: 20px;
  right: 25px;
}
