@import './color_scheme';
@import './media_queries';
.projects__container {
  width: 100%;
  margin-top: 140px;
}

.projects__title {
  width: 100%;
  text-align: center;
  font-weight: bold;

  @include mquery(1100) {
    font-size: 90px;
  }
}

.github__button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.github__button {
  background-color: transparent;
  font-size: 48px;
  font-weight: bold;
  border: 7px solid;
  border-image-slice: 1;
  font-weight: normal;
}
