@import './color_scheme';
@import './media_queries';

.main__container {
  margin-top: 140px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 200px;

  height: 60vh;

  @include mquery(1840) {
    height: 80vh;
  }
}

.smaller_container {
  background-color: transparent;
  align-self: flex-end;
  margin-right: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: $secondary-color;
  overflow-y: hidden;

  height: 100%;
  width: 100%;
}

.image__container_1 {
  position: absolute;
  bottom: 0;
  right: 0;
  aspect-ratio: 16/9;
  bottom: 20px;

  height: 80%;
  width: 80%;

  @include mquery(1200) {
    bottom: 30px;
  }

  @include mquery(1330) {
    bottom: 45px;
  }

  @include mquery(1500) {
    bottom: 40px;
  }

  @include mquery(1600) {
    width: 90%;
    bottom: 40px;
  }

  @include mquery(1840) {
    height: 85%;
    width: 80%;
    bottom: 60px;
  }
}

.image__1 {
}

.image__container_3 {
  position: absolute;
  bottom: -2px;
  right: 300px;
}

.text__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 60px;
  z-index: 2;

  @include mquery(1100) {
    margin-right: -100px;
  }
}

.text__container_small {
  @extend .text__container;

  @include mquery(1100) {
    margin-left: -220px;
  }
}

.technologies {
  font-weight: normal;
  font-size: 14px;

  @include mquery(1100) {
    font-size: 16px;
  }

  @include mquery(1600) {
    font-size: 20px;
  }

  @include mquery(1840) {
    font-size: 30px;
  }
}

.title {
  font-size: 40px;
  font-weight: bold;

  @include mquery(1100) {
    font-size: 30px;
  }

  @include mquery(1330) {
    font-size: 35px;
  }

  @include mquery(1600) {
    font-size: 40px;
  }

  @include mquery(1840) {
    font-size: 52px;
  }
}
