@import './color_scheme';
@import './media_queries';

.main__container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: fit-content;

  @include mquery(1000) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 200px;
  }

  @include mquery(1840) {
    padding-right: 100px;
  }
}

.image__container_1 {
  aspect-ratio: 16/9;
  border: 20px solid $secondary-color;
  background-color: $secondary-color;
  width: 95%;
  margin: auto;

  @include mquery(1000) {
    order: 2;

    margin: 0;
    width: 90%;
    border-top: 80px solid $secondary-color;
    border-bottom: 80px solid $secondary-color;
    border-left: 120px solid $secondary-color;
    margin-right: 60px;
  }

  @include mquery(1200) {
    width: 60%;
    border-right: 20px solid $secondary-color;
    border-top: 80px solid $secondary-color;
    border-bottom: 50px solid $secondary-color;
    border-left: 140px solid $secondary-color;
  }
}

.image__1 {
}

.image__container_3 {
  aspect-ratio: 16/9;
  border-top: 20px solid $secondary-color;
  border-bottom: 20px solid $secondary-color;
  border-right: 100px solid $secondary-color;
  border-left: 100px solid $secondary-color;
  background-color: $secondary-color;
  width: 95%;
  margin: auto;
  order: 1;

  max-height: 50vh;
  overflow: hidden;

  @include mquery(700) {
    border-bottom: none;
  }

  @include mquery(1000) {
    order: 2;
    max-height: none;
    overflow: auto;
    order: 2;
    width: 60%;
    margin: 0;
    margin-right: 60px;
    border-right: 200px solid $secondary-color;
    border-top: 50px solid $secondary-color;
    border-left: 200px solid $secondary-color;
  }

  @include mquery(1200) {
    border-right: 250px solid $secondary-color;
    border-top: 80px solid $secondary-color;
    border-left: 250px solid $secondary-color;
  }

  @include mquery(1400) {
    border-right: 300px solid $secondary-color;
    border-top: 50px solid $secondary-color;
    border-left: 300px solid $secondary-color;
    border-bottom: 50px solid $secondary-color;
  }

  @include mquery(1500) {
    width: 55%;
  }

  @include mquery(1600) {
    width: 50%;
  }
}
