@import './color_scheme';

.main__container {
  margin-top: 140px;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 200px;
}

.smaller_container {
  height: 80vh;
  width: 65vw;
  background-color: transparent;
  align-self: flex-end;
  margin-right: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: $secondary-color;
}

.image__container_1 {
  position: absolute;
  bottom: calc(50% - 275px);
  right: 0;
}

.image__container_3 {
  position: absolute;
  bottom: -2px;
  right: 300px;
}

.text__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: -100px;
  z-index: 2;
}

.text__container_small {
  @extend .text__container;
  margin-left: -220px;
}

.technologies {
  font-size: 30px;
  font-weight: normal;
}

.title {
  font-size: 52px;
  font-weight: bold;
}
