@import './color_scheme';
@import './media_queries';

.container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  background-color: rgba($color: #000000, $alpha: 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__container {
  width: 60%;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page__header__container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.page__button_and_page_container {
  display: flex;
  flex: 7;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.page__button_prev {
  background-color: transparent;
  border: none;
}

.page__button_next {
  background-color: transparent;
  border: none;
}

.skills_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.skill_container {
  flex-basis: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $main-color-dark;
  height: 25;
  position: relative;

  &:nth-child(odd) {
    margin-right: 70px;
  }
}

.skill_text {
  font-size: 35px;
}

.skill_icon {
  font-size: 40px;
}

.skill__animated_skill_text {
  @extend .skill_text;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.skill__animated_skill__letter_container {
  display: flex;
  flex-direction: row;
}

.skill__close_button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: $secondary-color;
  border: none;
  font-size: 40px;
  padding-top: 10px;
  padding-right: 10px;
}
