@import './media_queries';

.tag {
  font-size: 14px;
  background-color: rgb(236, 231, 231);
  padding: 10px;
  margin-right: 5px;
  white-space: nowrap;

  @include mquery(600) {
    margin-bottom: 10px;
  }
}

.tags__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  //max-width: 100%;
  flex-wrap: nowrap;

  @include mquery(600) {
    width: 50%;
    flex-wrap: wrap;
  }
}
